table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--background-color);
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

.total {
  margin-top: 20px;
  font-weight: bold;
}

button {
  background-color: #dc3545;
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}
