.admin-form {
  max-width: 500px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
