<nav>
  <div>
    <a routerLink="/">Home</a>
    <a routerLink="/admin" *ngIf="isLoggedIn">Admin</a>
  </div>

  <div>
    <button (click)="toggleTheme()">
      <img [src]="themeIcon" [alt]="isDarkMode ? 'Dark mode' : 'Light mode'" />
    </button>

    <button routerLink="/cart">
      <img src="/assets/icons/shopping-cart.svg" alt="shopping cart" />
    </button>

    <button *ngIf="!isLoggedIn" (click)="onLogin()">Sign In</button>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</nav>
