nav {
  background-color: var(--navbar-background);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--navbar-border-color);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 0 0 10px 10px;

  a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
  }
  & a:hover {
    color: var(--primary-color);
  }

  button {
    background: var(--button-background);
    color: var(--button-text-color);
    border: none;
    padding: 1rem;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s, box-shadow 0.3s, background 0.3s;
    margin-left: 10px;
  }
  & button:hover {
    transform: translateY(-3px);
    background: var(--button-hover-background);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    margin: 0 10px;
  }

  a:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

  /* Toggle theme button */
  button img {
    width: 20px;
    height: 20px;
  }

  .nav-right {
    display: flex;
    align-items: center;

    .burger-menu {
      display: none;
      // background: none;
      // border: none;
      cursor: pointer;
    }
    .nav-links {
      position: relative;
      display: inline-block;

      &.show-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: var(--navbar-background);
        box-shadow: var(--box-shadow);
        padding: 20px;
        border-radius: 8px;
        z-index: 1000;

        a,
        button {
          padding: 10px 15px;
          text-align: left;
        }
      }
    }
    .cart-btn {
      position: relative;
      display: inline-block;

      .cart-indicator {
        position: absolute;
        top: 10px;
        right: 10px;
        // transform: translate(5%, -25%);
        background-color: #ffffff; /* Red color */
        color: #100f0f;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        padding: 2px;
        line-height: 1;
        min-width: 16px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .nav-right {
      .nav-links {
        display: none; /* Hidden by default on small screens */
      }

      .burger-menu {
        display: inline-block; /* Show burger menu on small screens */
      }
    }
  }
}
